/ Page Content
.container
  / Heading Row
  .row
    .col-md-8
      %img.img-responsive.img-rounded{:alt => "", :src => "http://placehold.it/900x350"}/
    / /.col-md-8
    .col-md-4
      %h1 Business Name or Tagline
      %p This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
      %a.btn.btn-primary.btn-lg{:href => "#"} Call to Action!
    / /.col-md-4
  / /.row
  %hr/
  / Call to Action Well
  .row
    .col-lg-12
      .well.text-center
        This is a well that is a great spot for a business tagline or phone number for easy access!
    / /.col-lg-12
  / /.row
  / Content Row
  .row
    .col-md-4
      %h2 Heading 1
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.
      %a.btn.btn-default{:href => "#"} More Info
    / /.col-md-4
    .col-md-4
      %h2 Heading 2
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.
      %a.btn.btn-default{:href => "#"} More Info
    / /.col-md-4
    .col-md-4
      %h2 Heading 3
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.
      %a.btn.btn-default{:href => "#"} More Info
    / /.col-md-4
  / /.row
  / Footer
  %footer
    .row
      .col-lg-12
        %p Copyright © Your Website 2014
/ /.container
