.embedContainer{"data-exer-name" => @ex.short_name, 
                "data-external" => @ex.external, 
                "data-frame-height" => @ex.height, 
                "data-frame-src" => @ex.av_address, 
                "data-frame-width" => @ex.width, 
                "data-long-name" => @ex.long_name, 
                "data-points" => @ex.points, 
                "data-required" => @ex.required, 
                "data-showhide" => @ex.showhide, 
                "data-threshold" => @ex.threshold, 
                "data-type" => @ex.type, 
                :id => @ex.short_name}
  .center
    %div{:id => "#{@ex.short_name}_iframe"}
