:javascript
  $(function(){
      $(".test-class").click(function() {
          window.location.href = "https://opendsax.cs.vt.edu/lti/launch?embed_type=basic_lti&url=https://opendsax.cs.vt.edu/lti/launch";
      });
  })

%button.test-class
  Test