<html ng-app="bookConfig">
    <head>
        <title>Course Config</title>
        <!--link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "book_config/css/app.css" %}" /-->
    </head>
    <body>
        <config-banner></config-banner>
        <new-book>
        <new-book>
    </body>
</html>
