%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Sample Books

%h1 Sample OpenDSA eTextbooks

%p
  The OpenDSA project consists of content in the form of prose,
  visualizations, and execises for a range of Computer Science
  topics.
  The OpenDSA project also provides infrastructure for selecting
  subsets of these materials and compiling them together into an
  "eTextbook".
  Here we provide links to a sampling of the eTextbooks that can be
  created.

%p
  Currently, OpenDSA eTextbooks can be configured to work within the
  Canvas LMS.
  This allows for collecting scoring info for students, and should
  always be used when OpenDSA is being used for graded class
  assignments.
  OpenDSA can also be configured to generate stand-alone HTML pages.
  In this format, users can view the content, and work the exercises.
  But no scoring information is remembered.
  This format is appropriate for an eTextbook used strictly as
  supplemental reading material.

%p
  Canvas versions (you will need to register at
  %a{ href: 'http://canvas.instructure.com' }
    http://canvas.instructure.com
  to view):

%ul
  %li
    %a{ href: 'https://canvas.instructure.com/enroll/TXJGTB' }
      Data Structures topics for a CS2-level course

  %li
    %a{ href: 'https://canvas.instructure.com/enroll/M667KG' }
      A post-CS2-level course
    on Data Structures (that we refer to as "CS3").

  %li
    %a{ href: 'https://canvas.instructure.com/enroll/FYDK3F' }
      All current OpenDSA content
    related to Data Structures and Algorithms.

  %li
    %a{ href: 'https://canvas.instructure.com/enroll/MYGH4J' }
      Programming Languages

%p
  <br/>

%p
  Supplemental reading versions:

%ul
  %li
    %a{ href: 'http://lti.cs.vt.edu/NewKA/OpenDSA/Books/CS2114' }
      Data Structures topics for a CS2-level course

  %li
    %a{ href: 'http://lti.cs.vt.edu/NewKA/OpenDSA/Books/CS3114' }
      A post-CS2-level course
    on Data Structures (that we refer to as "CS3").

  %li
    %a{ href: 'http://lti.cs.vt.edu/NewKA/OpenDSA/Books/Everything' }
      All current OpenDSA content
    related to Data Structures and Algorithms.

  %li
    %a{ href: 'http://lti.cs.vt.edu/NewKA/OpenDSA/Books/PL2' }
      Programming Languages
