%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Instructor Guide

%h1 Instructor Guide

<p>
<b>Intended Audience:</b>
This guide is intended for instructors who would like to set up an
OpenDSA book instance for use with Canvas.
If you are an OpenDSA developer, then you probably want to set up your
own test installation following the directions at
<a href="https://github.com/OpenDSA/OpenDSA-DevStack">
https://github.com/OpenDSA/OpenDSA-DevStack</a>.
</p>

%ol
  %li
    Get access to an instructor account.
    Click "Sign Up" to create a new account and send email to
    %a{ href: 'mailto:opendsa@cs.vt.edu' }
      opendsa@cs.vt.edu
    to get instructor access.

  %li
    Go
    to <a href="https://canvas.instructure.com">https://canvas.instructure.com</a>
    and create a course. Give it a name, and copy the course ID from
    the end of the URL. You will use this ID later.

  %li
    Back on the OpenDSA instructor page, click the "Course" button and then click "Create new course". Provide all the information required to create a new course.

  %li
    After a course is created you will be redirected to another page where you can perform two actions. First "Configure Book", where you can decide exercises due dates and number of points. Second "Generate Course", this process will take care of generating modules, assignments, and assignments groups in Canvas course.

