%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Instructor Guide

%h1 Instructor Guide

<p>
This guide will help instructors to set up an OpenDSA eTextbook
instance for use within a Canvas course.
If your institution has its own Canvas installation, then you can
attach an OpenDSA eTextbook to any course where you have instructor
permissions.
If you don't have access to Canvas at your institution, then you can
create a Canvas course at the public Canvas site,
<a href="https://canvas.instructure.com">https://canvas.instructure.com</a>
</p>

<p>
<b>Note:</b> If you are an OpenDSA developer, then you probably want
to set up your own test installation following the directions at
<a href="https://github.com/OpenDSA/OpenDSA-DevStack">
https://github.com/OpenDSA/OpenDSA-DevStack</a>.
</p>

%ol
  %li
    Get access to an OpenDSA instructor account.
    Click "Sign Up" in the upper-right corner of this page to create a
    new account, and then send email to
    %a{ href: 'mailto:opendsa@cs.vt.edu' }
      opendsa@cs.vt.edu
    asking for instructor access.

  %li
    Go to your institution's Canvas site, create an account at the public site
    at <a href="https://canvas.instructure.com">https://canvas.instructure.com</a>
    Once there, create a course.
    Give it a name, and copy the course ID that you will find at the
    end of the course URL.
    You will use this ID later.

  %li
    Click the "Course" button at the top of this page,
    then click "Create new course".
    This will take you to a simple form that asks for the necessary
    information to define your course instance.
    Fill in all of the fields, and the click "Submit".

  %li
    Once you have created your course offering, you will be redirected
    to the page where you can configure your eTextbook, and then
    generate the course in Canvas. Click the "Generate Course" button,
    and this process will take care of generating
    modules, assignments, and assignments groups in your Canvas course.

<p>
If you only want to include your choice of OpenDSA visualizations and exercises without compiling the entire book, please follow these steps.

%ol
  %li
    Get access to an OpenDSA instructor account as described earlier.

  %li
    Login using your instructor account and click on your email address at the upper right corner of the home page. Copy the
    %code Consumer Key
    and the
    %code Shared Secret
    to use them later.

  %li
    Go to your Canvas course and click the "Settings" link in the left sidebar. Click the "Apps" tab and then click "View App Configurations".

  %li
    Click "+ App" to add a new LTI application. Select "By URL" under "Configuration Type" dropdown menu. Write "OpenDSA" in the name field. Paste in the
    %code Consumer Key
    and the
    %code Shared Secret
    you have copied in the earlier step. Finally add OpenDSA LTI config URL
    %code #{@config_url}
    to the "Config URL" field and click "Submit".
  %li
    In your Canvas course, while inserting content into a module, select "External Tool". You should see the configured app "OpenDSA-LTI" with a "find" icon. Click the app to bring up a new dialog where you can pick one of OpenDSA’s interactive materials to be inserted as a page or resource within the current module.
  %li
    If you want OpenDSA exercise to report a score back to Canvas, you have to create a Canvas assignment. Go to the Assignments option in the left menu, then create new assignment by clicking on "+ Assignment " button on the upper right. FIll in the necessary information and select "External Tool" as the "Submission Type". You will see OpenDSA-LTI app, click it to choose the exercise.



