%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Instructor Guide

%h1 Instructor Guide

%ol
  %li
    Sign Up to create a new account and send email to
    %a{ href: 'mailto:opendsa@cs.vt.edu' }
      opendsa@cs.vt.edu
    to get an instructor privilege.

  %li
    Log in using your instructor account. Click "Upload Books" button in the navigation bar, then click "Choose File". Navigate to OpenDSA-LTI repository folder and choose test_CS3.json. ThenClick "Submit File" button.

  %li
    Go to <a href="https://canvas.instructure.com">https://canvas.instructure.com</a> and create a course, give it a name and copy the course ID from the URL, you will use it later.

  %li
    Go to the admin area by clicking on the little wrench icon to the left of your email address in the top menu bar. Click the "University-oriented" menu and select "Courses". Create a new course, choose its organization, give it a number (e.g. CS2114) and name.

  %li
    Click the "University-oriented" menu and select "Courses Offerings". Create a new course offering for your course and check "self enrollment enabled" check box. Note: all fields marked with asterisk "*" are required.

  %li
    While in the "Courses Offerings" submenu, link your course offering to a LMS by choosing "LMS INSTANCE" from the drop down list. Also fill "LMS COURSE CODE" and "LMS COURSE NUM" with canvas course name and course ID you have created in step number (3).

  %li
    Under the "ODSA Books" menu, select "Inst Book". Then click on edit for the chosen book-to-course offering mapping entry. On the edit form, select the proper course offering (the one that you created in the previous step). Click Update Inst book.

  %li
    Under the "LMS config" menu, click "Lms Access". Choose the LMS instance and put your access token. If you don't have Canvas access token follow the instructions <a href="https://guides.instructure.com/m/4214/l/40399-how-do-i-obtain-an-api-access-token-for-an-account">here</a> to obtain one. The click Update Lms access.

  %li
    Click "Back to OpenDSA" menu option to go back to application. Click the "Course" button and then navigate to the course offering that you have previously created. Under the OpenDSA tab you will find the book linked to that offering. You can click Configure Book to go to book configuration view. This allows an instructor to add/remove book modules and chapters. It also allows an instructor to define exercises points and due dates. Clicking the "Compile Book" button will then generate the book's html files on the server file system, and send book details to the linked Canvas instance as well. Click "Compile Book" and you should see the progress bar moving forward while the course is being generated in Canvas.

  %li
    At this point the book is generated in Canvas and linked to a compiled book on the server file system. Go to Canvas instance URL and navigate to "Modules" submenu, you should see OpenDSA chapters created and published.
