%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Instructor Guide

%h1 Instructor Guide

<p>
<b>Intended Audience:</b>
This guide is intended for instructors who would like to set up an
OpenDSA book instance for use with Canvas.
If you are an OpenDSA developer, then you probably want to set up your
own test installation following the directions at
<a href="https://github.com/OpenDSA/OpenDSA-DevStack">
https://github.com/OpenDSA/OpenDSA-DevStack</a>.
</p>

%ol
  %li
    Get access to an instructor account.
    Click "Sign Up" to create a new account and send email to
    %a{ href: 'mailto:opendsa@cs.vt.edu' }
      opendsa@cs.vt.edu
    to get instructor access.

  %li
    Go
    to <a href="https://canvas.instructure.com">https://canvas.instructure.com</a>
    and create a course. Give it a name, and copy the course ID from
    the end of the URL. You will use this ID later.

  %li
    Back on the OpenDSA instructor page, go to the admin area by
    clicking on the little wrench icon to the left of your email
    address in the top menu bar.
    Click the "University-oriented" menu and select "Courses".
    Click on "New Course".
    Create your new course by choosing its organization, giving it a
    number (e.g. CS2114) and a name, then click "Create Course".

  %li
    Click the "University-oriented" menu again and select "Course
    Offerings".
    Now you will create a new course offering for your course.
    Note: all fields marked with asterisk
    %code *
    are required.

    %ul

      %li
        Link your course offering to a LMS by choosing "LMS INSTANCE"
        from the drop down list.

      %li
        Check "self enrollment enabled".

      %li
        Fill "LMS COURSE CODE" and "LMS COURSE NUM" with the Canvas
        course name and course ID that you created in step (3).

  %li
    Under the "ODSA Books" menu, select "Book Instances". Click "Upload Books" then choose the book configuration file form your file system. After the book is uploaded successfully click "clone"
    to use it with your course offering. A new instance of the book will be created, click "edit" then
    select the proper course offering (the one that you created in the previous
    step). Click "Update Inst Book".

  %br
  %p
    %strong Note:
    A web interface for book configuration modification is still under development. But you can
    still update your book by updating the configuration file and upload it again. To do that add a new attribute
    %code {"inst_book_id": book_id}
    to your book configration file where
    %code book_id
    is the id of the book you want to update, you can find this id in "Book Instances" page.

  %li
    Under the "LMS config" menu, click "Lms Access".
    Here you will provide your LMS access token for this LMS
    instance. (If you have not already created a Canvas access token,
    then follow the instructions <a href="https://guides.instructure.com/m/4214/l/40399-how-do-i-obtain-an-api-access-token-for-an-account">here</a>
    to make one.)
    Choose the LMS instance and put in your access token.
    If you are doing this for the first time, then you probably do not
    have an entry in the table, so click on "New Lms Access".
    Then click "Update Lms access".

  %li
    Now click "Back to OpenDSA" in the top menu to go back to the book
    compilation application.
    Click the "Course" button and then navigate to the course offering
    that you have just created.
    (You might need to click "Browse all" and navigate to the proper
    organization and term.)
    Once you find your course offering, click on it.

  %li
    Under the "OpenDSA" tab you will find the book linked to that
    offering.
    You can click "Configure Book" to go to book configuration view
    (WARNING: This is still under development, and not ready for use yet!).
    This allows an instructor to add/remove book modules and chapters.
    It also allows an instructor to define exercises points and due
    dates.
    Once the book is configured, click "Generate LMS Course" to
    generate the book's html files on the server file system, and send
    book details to the linked Canvas instance.
    During the compilation process, you should see the progress bar
    moving forward while the course is being generated in Canvas.

  %li
    Once the compilation process is complete, the book is available at
    your Canvas site. Go to Canvas and navigate to the "Modules"
    submenu for your course.
    You should see OpenDSA chapters created and published.
