%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Official

%h1 OpenDSA Official Documents

%p
  See our
  =link_to "license", home_license_path

%p
  See our
  %a{ href: 'https://opendsa-server.cs.vt.edu/OpenDSA/lib/Privacy.html' }
    Privacy Notice.

%p
  Higher Education Community Vendor Assessment Tool (HECVAT)
  forms are sometimes required by institutions in order to use
  3rd-party software.
  See our
  %a{ href: 'https://cssplice.org/Administrative/HECVAT3_OpenDSA_20220830.xlsx' }
    HECVAT 3 Form.

%p
Voluntary Product Accessibility Template forms are sometimes required
by institutions in order to use 3rd-party software.
We plan to post our VPAT Form soon.
