%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Papers

%h1 OpenDSA-Related Publications and Presentations

%ol

  %li
    M. Ellis, S.H. Edwards, and C.A. Shaffer,
    %a{ href: 'https://dl.acm.org/citation.cfm?id=3287487' }
      <i>Approaches for Coordinating eTextbooks, Online Programming Practice, Automated Grading, and More into One Course</i>,
    Proceedings of the 2019 ACM SIGCSE Technical Symposium on Computer Science Education (SIGCSE'19), February 2019, 126-132.

  %li
    S. Hamouda, S.H. Edwards, H.G. Elmongui, J.V. Ernst, and C.A. Shaffer,
    %a{ href: 'https://doi.org/10.1145/3218328' }
      <i>RecurTutor: An Interactive Tutorial for Learning Recursion</i>,
    ACM Transactions on Computing Education 19, 1(November 2018), 1:1-1:25.

  %li
    K.H. Koh, E. Fouh, M.F. Farghally, H. Shahin, and C.A. Shaffer.
    %a{ href: 'https://doi.org/10.1145/3148240' }      
      <i>Experience: Learner Analytics Data Quality for an eTextbook System</i>,
    ACM Journal on Data and Information Quality 9, 2(January 2018), 10 pages.

  %li
    S. Hamouda, S.H. Edwards, H.G. ElMongui, J.V. Ernst, and C.A. Shaffer.
    %a{ href: 'http://dx.doi.org/10.1080/08993408.2017.1414728' }
      <i>A Basic Recursion Concept Inventory,
    Computer Science Education 27, 2(December 2017), 121-148.

  %li
    H.L. Shahin,
    %a{ href: 'https://vtechworks.lib.vt.edu/handle/10919/78682' }
      <i>Design and Implementation of OpenDSA Interoperable Infrastructure</i>,
    MS Thesis, Virginia Tech, June 2017.

  %li
    M.F. Farghally, K.H. Koh, H. Shahin, and C.A. Shaffer,
    Evaluating the Effectiveness of Algorithm Analysis Visualizations (
    %a{ href: 'https://doi.org/10.1145/3017680.3017698' }
      DOI,
    %a{ href: 'http://dl.acm.org/ft_gateway.cfm?id=3017698&ftid=1850255&dwn=1&CFID=738264690&CFTOKEN=73010837' }
      PDF    
    ), in <i>Proceedings of the 2017 ACM SIGCSE Technical Symposium on Computer Science Education (SIGCSE 2017)</i>,
    Seattle, WA, March 2017, 201-206 (Designated an Exemplary Research Paper).

  %li
    M.F. Farghally, K.H. Koh, J.V. Ernst, and C.A. Shaffer,
    Towards a Concept Inventory for Algorithm Analysis Topics (
    %a{ href: 'https://doi.org/10.1145/3017680.3017756' }
      DOI,
    %a{ href: 'http://dl.acm.org/ft_gateway.cfm?id=3017756&ftid=1850256&dwn=1&CFID=738264690&CFTOKEN=73010837' }
      PDF
    ), in <i>Proceedings of the 2017 ACM SIGCSE Technical Symposium on Computer Science Education (SIGCSE 2017)</i>,
    Seattle, WA, March 2017, 207-212.

  %li
    M.F. Farghally,
    %a{ href: 'https://vtechworks.lib.vt.edu/handle/10919/73539' }
      <i>Visualizing Algorithm Analysis Topics</i>,
    PhD Dissertation, Virginia Tech, November 2016.

  %li
    E. Fouh, M.F. Farghally, S. Hamouda, K.H. Koh, and C.A. Shaffer,
    "Investigating Difficult Topics in a Data Structures Course Using Item
    Response Theory and Logged Data Analysis" (
    %a{ href: 'http://www.educationaldatamining.org/EDM2016/proceedings/paper_31.pdf' }
      PDF
    ) in <i>Proceedings of the 9th International Conference on Educational Data Mining (EDM 2016)</i>,
    Raleigh, NC, June, 2016, 370--375.

  %li
    V. Karavirta and C.A. Shaffer,
    Creating Engaging Online Learning Material with the JSAV JavaScript Algorithm Visualization Library (
    %a{ href: 'http://dx.doi.org/10.1109/TLT.2015.2490673' }
      DOI,
    %a{ href: 'http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=7298430' }
      PDF
    ), <i>IEEE Transactions on Learning Technologies</i>,
    2(April-June 2016), 171-183.

  %li
    E. Fouh, S. Hamouda, M.F. Farghally, and C.A. Shaffer,
    Automating Learner Feedback in an eTextbook for Data Structures and Algorithms Courses (
    %a{ href: 'http://store.elsevier.com/Formative-Assessment-Learning-Data-Analytics-and-Gamification/Santi-Caball%C3%A9/isbn-9780128036372/' }
      site
    ) in <i>Challenges in ICT Education:
    Formative Assessment, Learning Data Analytics and Gamification</i>,
    Santi Caballé & Robert Clarisó, eds., Elsevier, 2016, 135-165.

  %li
    T. Farnqvist, F. Heintz, P. Lambrix, L. Mannila, and C. Wang,
    Supporting Active Learning by Introducing an Interactive Teaching
    Tool in a Data Structures and Algorithms Course,
    in <i>Proceedings of the 47th ACM Technical Symposium on Computing
    Science Education (SIGCSE 2016)</i>, 663-668.

  %li
    S. Hamouda,
    %a{ href: 'https://vtechworks.lib.vt.edu/handle/10919/64249' }
      <i>Enhancing Learning of Recursion</i>,
    PhD Dissertation, Virginia Tech, December 2015.

  %li
    N. Maji,
    %a{ href: 'https://vtechworks.lib.vt.edu/handle/10919/52973' }
      <i>An Interactive Tutorial for NP-Completeness</i>,
    MS Thesis, Virginia Tech, May 2015.

  %li
    E. Fouh,
    %a{ href: 'http://vtechworks.lib.vt.edu/handle/10919/51951' }
      <i>Building and Evaluating a Learning Environment for Data
      Structures and Algorithms Courses</i>,
    PhD Dissertation, Virginia Tech, May 2015. 

  %li
    E. Fouh, D.A. Breakiron, S. Hamouda, M.F. Farghally, and
    C.A. Shaffer, Exploring students learning behavior with an
    interactive eTextbook in Computer Science Courses (
    %a{ href: 'http://www.sciencedirect.com/science/article/pii/S0747563214005196' }
      DOI
    ), <i>Computers in Human Behavior 41</i>, (December 2014),
    478-485.

  %li
    E. Fouh, V. Karavirta, D.A. Breakiron, S. Hamouda, S. Hall,
    T.L. Naps, and C.A. Shaffer, Design and architecture of an
    interactive eTextbook - The OpenDSA system (
    %a{ href: 'http://dx.doi.org/10.1016/j.scico.2013.11.040' }
      DOI,
    %a{ href: 'http://www.sciencedirect.com/science/article/pii/S016764231300333X/pdfft?md5=7e7a97b14fbedcdccc82e0ec23f6a1f4&pid=1-s2.0-S016764231300333X-main.pdf' }
      PDF
    ), <i>Science of Computer Programming 88</i>,
    Special Issue on Software Development
    Concerns in the e-Learning Domain, 1(August 2014), 22-40. 

  %li
    A. Korhonen, T. Naps, C. Boisvert, P. Crescenzi, V. Karavirta,
    L. Mannila, B. Miller, B. Morrison, S.H. Rodger, R. Ross, and
    C.A. Shaffer,
    %a{ href: 'http://people.cs.vt.edu/~shaffer/Papers/p53-korhonen.pdf' }
      Requirements and Design Strategies for Open Source Interactive
      Computer Science eBooks,
    in <i>Proceedings of the ITiCSE Conference on Innovation and
    Technology in Computer Science Education - Working Group Reports
    (ITiCSE-WGR'13)</i>,
    Canterbury, England, UK, July, 2013, 53-72. 

  %li
    V. Karavirta and C.A. Shaffer,
    %a{ href: 'http://people.cs.vt.edu/~shaffer/Papers/p159-karavirta.pdf' }
      JSAV: The JavaScript Algorithm Visualization Library,
    in <i>Proceedings of the 18th Annual Conference on Innovation and
    Technology in Computer Science Education (ITiCSE 2013)</i>,
    Canterbury, UK, July 2013, 159-164. 

  %li
    S. Hall, E. Fouh, D. Breakiron, M. Elshehaly, and C.A. Shaffer,
    %a{ href: 'http://people.cs.vt.edu/~shaffer/Papers/5951_ASEE_2013_Hall.pdf' }
      Evaluating Online Tutorials for Data Structures and Algorithms Courses,
    <i>Proceedings of the 2013 ASEE Annual Conference & Exposition</i>,
    Atlanta, GA, June 2013, Paper #5951.

  %li
    A.M. Paul,
    %a{ href: 'http://vtechworks.lib.vt.edu/handle/10919/23889' }
      QBank: A Web-Based Dynamic Problem Authoring Tool,
    Masters Thesis, Virginia Tech, June 2013.

  %li
    D.A. Breakiron,
    %a{ href: 'http://vtechworks.lib.vt.edu/handle/10919/23107' }
      Evaluating the Integration of Online, Interactive Tutorials into
      a Data Structures and Algorithms Course,
    Masters Thesis, Virginia Tech, May 2013.

  %li
    E. Fouh, D. Breakiron, M. Elshehaly, T.S. Hall, V. Karavirta, and
    C.A. Shaffer,
    %a{ href: 'http://people.cs.vt.edu/~shaffer/Presentations/opendsa_sigcse13.pdf' }
      OpenDSA: using an active eTextbook to teach data
      structures and algorithms,
    poster abstract in
    <i>Proceedings of the 44th ACM Technical Symposium on Computer Science Education, SIGCSE 2013</i>,
    Denver, CO, March 2013, 734.

  %li
    E. Fouh, M. Sun, and C.A. Shaffer,
    %a{ href: 'http://people.cs.vt.edu/~shaffer/Presentations/ODSA_SIGCSE12.pdf' }
      OpenDSA: A Creative Commons Active-eBook,
    a poster presented at <i>SIGCSE 2012</i>, Raleigh, NC, March 2012.

  %li
    C.A. Shaffer, V. Karavirta, A. Korhonen and T.L. Naps,
    %a{ href: 'http://people.cs.vt.edu/~shaffer/Papers/Koli2011.pdf' }
      OpenDSA: Beginning a Community Active-eBook Project
    in <i>Proceedings of 11th Koli Calling International Conference on Computing Education Research</i>,
    November 17-20, 2011, Koli National Park, Finland, 112--117.

  %li
    C.A. Shaffer, T.L. Naps, and E. Fouh,
    %a{ href: 'http://people.cs.vt.edu/~shaffer/Papers/pvw1.pdf' }
      Interactive Textbooks for Computer Science Education
    in <i>Proceedings of the Sixth Program Visualization Workshop</i>,
    June 30, 2011, Darmstadt, Germany, 97-103.
