%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Support

%h1 OpenDSA Project Support

%p
  The OpenDSA team gratefully acknowledges the support provided by the
  %a{ href: 'http://www.nsf.gov/' }
    National Science Foundation.

%ul
  %li
    TUES program grant
    %a{ href: 'http://nsf.gov/awardsearch/showAward.do?AwardNumber=1139861' }
      DUE-1139861
    supports the collaboration of
    Virginia Tech, University of Wisconsin-Oshkosh, and Rice University
    to develop the prototype system and initial content. See the
    %a{ href: 'http://people.cs.vt.edu/~shaffer/Proposals/TUES2012.pdf' }
      NSF-TUES 2011 Grant Proposal
    (funded beginning June 2012).

  %li
    EAGER program grant 
    %a{ href: 'http://nsf.gov/awardsearch/showAward.do?AwardNumber=1258471' }
      IIS-1258571
    supported the collaboration of
    University of Wisconsin-Madison, Auburn University, and Virginia
    Tech to work with Aalto University, Finland. See the
    %a{ href: 'http://people.cs.vt.edu/~shaffer/Proposals/SAVI2012.pdf' }
      NSF-EAGER 2011 Grant Proposal
    (funded January 2013 through December 2015). This is part
    of an NSF SAVI program to support US/Finnish collaborations for
    %a{ href: 'http://nsf.gov/news/news_summ.jsp?cntn_id=127063&org=NSF&from=news' }
      innovations in STEM education.

  %li
    IUSE program grants
    %a{ href: 'http://nsf.gov/awardsearch/showAward.do?AwardNumber=1432008' }
      DUE-1432008,
    %a{ href: 'http://nsf.gov/awardsearch/showAward.do?AwardNumber=1431667' }
      DUE-1431667,
    and
    %a{ href: 'http://nsf.gov/awardsearch/showAward.do?AwardNumber=1431399' }
      DUE-1431399
    support the collaboration of Virginia Tech, Duke University, and
    University of Wisconsin-Oshkosh to greatly expand the content and
    infrastructure for OpenDSA. See the
    %a{ href: 'http://people.cs.vt.edu/~shaffer/Proposals/IUSE14.pdf' }
      NSF-IUSE 2014 Grant Proposal
    (funded beginning January 2015 and lasting for three years).
