%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Support

%h1 OpenDSA Project Support

%p
  The OpenDSA team gratefully acknowledges the support provided by the
  National Science Foundation.

%ul
  %li
    TUES program grant DUE-1139861 supports the collaboration of
    Virginia Tech, University of Wisconsin-Oshkosh, and Rice University
    to develop the prototype system and initial content. See the
    NSF-TUES 2011 Grant Proposal (funded beginning June 2012).

  %li
    EAGER program grant IIS-1258571 supports the collaboration of
    University of Wisconsin-Madison, Auburn University, and Virginia
    Tech to work with Aalto University, Finland. See the NSF-EAGER
    2011 Grant Proposal (funded beginning January 2013). This is part
    of an NSF SAVI program to support US/Finnish collaborations for
    innovations in STEM education.

  %li
    IUSE program grants DUE-1432008, DUE-1431667, and DUE-1431399
    support the collaboration of Virginia Tech, Duke University, and
    University of Wisconsin-Oshkosh to greatly expand the content and
    infrastructure for OpenDSA. See the NSF-IUSE 2014 Grant Proposal
    (funded beginning January 2015 and lasting for three years).
