development:
  email_address: 'smtp.gmail.com'
  email_port: 587
  email_domain: 'gmail.com'
  email_user_name: 'username@gmail.com'
  email_password: 'email_password'
  host_url: 'https://192.168.33.10:9292'
  python_venv_path: '/home/deploy/OpenDSA/.pyVenv/bin/activate'
  opendsa_branch: 'master'

staging:
  email_address: 'smtp.gmail.com'
  email_port: 587
  email_domain: 'gmail.com'
  email_user_name: 'username@gmail.com'
  email_password: 'email_password'
  host_url: 'host_url'
  python_venv_path: '/home/deploy/OpenDSA/.pyVenv/bin/activate'
  opendsa_branch: 'staging'

production:
  email_address: 'smtp.gmail.com'
  email_port: 587
  email_domain: 'gmail.com'
  email_user_name: 'username@gmail.com'
  email_password: 'email_password'
  host_url: 'host_url'
  python_venv_path: '/home/deploy/OpenDSA/.pyVenv/bin/activate'
  opendsa_branch: 'master'
