.module-title {
    font-size: 20px;
    font-weight: bold;
}

.panel-title {
    font-size: 25px;
}

#instructions-link-container {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal-body {
    max-height: 650px;
}

.control-label {
    padding-right: 0px;
    text-align: right;
    float: left;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}