h1 {
	width: 30%;
}

/*a {
	color: blue !important;
}
*/
ul.odsa_ul {
	list-style: none;
}

ul.odsa_ul li ul {
	display: none;
}

li.odsa_li {
	border: none !important;
	padding: 15px;
	margin: 10px;
	width: 90%;
}

li.odsa_li button {
	float: right;
}

input.odsa_in {
	width: 25%;
}

#content {
	padding-left: 10px;
}

#toggle {
	margin-left: 20%;
}

#add {
	margin-left: 20%;
}

#options {
	display: none;
}

#downloadLink {
	display: none;
	padding: 20px;
}