h1 {
	width: 30%;
}

option {
	width: 300px;
}

ul.odsa_ul {
	background-color: #f8eedf;
	list-style: none;
	padding-left: 0;
}

ul.odsa_ul li ul {
	display: none;
	padding-left: 0;
	border: 2px solid #f8eedf;
	border-radius: 5px;
	list-style-type: none;
	background-color: #f8eedf;
}

li.odsa_li a {
	padding: 10px;
}

li.odsa_li a span {
	padding: 5px;
}

li.odsa_li {
	border: none !important;
	padding: 15px;
	margin: 10px;
	width: 90%;
}

li.odsa_li button {
	width: 20%;
}

li.same-line {
	display: inline-block;
	width: 44%;
}

input.odsa_in {
	width: 25%;
}

button.odsa_button {
	font-size: 90%;
	border: 1px solid black;
	border-radius: 10px;
	padding: 2px 10px 2px 10px;
}

div.datetimepicker {
	display: inline-block;
	width: 50%;
	height: 20px;
	margin: 10px 5px 10px 5px;
}

input.date-input {
	width: 80% !important;
}

span.input-group-addon {
	height: 34px;
}

#odsa_content {
	/*background-color: #fff7ea;*/
	background-color: #f8eedf;
	padding-top: 10px;
	padding-left: 0px;
	border: 2px solid #f8eedf;
	border-radius: 5px;
}

#header {
	margin-top: 15px;
}

#content {
	padding-left: 10px;
}

#toggle {
	margin-left: 20%;
}

#add {
	margin-left: 20%;
}

#options {
	display: none;
}

#downloadLink {
	display: none;
	padding: 20px;
}

.dropdown {
	float: right;
	width: 160px;
	display: inline-block;
}

.dropdown button {
	width: 100% !important;
}

.modal-body input {
  width: 13%;
  margin: 10px;
}
