/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require lti13_core_styles
 *= require selectize
 */

 @import url('https://fonts.googleapis.com/css?family=Roboto');

 .changelog .btn{
   width: 54px;
   padding: 1px 1px;
 }

 .changelog p{
   margin-bottom: 6px;
 }

 /* Sticky footer styles
 -------------------------------------------------- */
 html {
   position: relative;
   min-height: 100%;
 }
 body {
   /* Margin bottom by footer height */
   margin-bottom: 303px;
 }
 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   background-color: #0f4d87;
   color: #fff;
   padding: 40px 0;
 }

 .footer p{
   line-height: 1.5;
 }

.footer .footer-link{
   color: #fff;
   opacity: .7;
 }

 ul.navbar-nav li a{
   font-size: 15px;
 }
