:javascript
  window.jsonFile = #{@inst_book_json.html_safe}

%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active= 'Book Configuration'

.row
  .col-xs-9.alert-msg#alerts{style: 'display: none;'}

%form.form-horizontal{method: "post", id: 'book-config-form'}
  .form-group 
    .col-xs-4
      #submit-button-container
        %button#odsa-submit-co.btn.btn-primary{type: 'submit', value: "save", data: {confirm: 'Do you want to continue?'}}
          Save Book
        %button#odsa-reset-co.btn.btn-primary{type: 'submit', value: "undo", data: {confirm: 'Do you want to continue?'}}
          Undo Changes

#odsa_content
  #dialog{:title => "Load Book"}

  / %button#odsa-save Download
  %span#save_message
  %a#downloadLink{:download => "Test.json"} Download
  #chapterDue.modal.fade
    .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"} &times;
        %h2.modal-title Chapter Due Date
      .modal-body
        / Soft Deadline:
        Due Date:
        %input#chapterSoft.datetimepicker.timemodal
        / %br
        / Hard Deadline:
        / %input#chapterHard.datetimepicker.timemodal
      .modal-footer
        %button#chapterSubmit.btn.btn-default{"data-dismiss" => "modal"} Submit
  #header
    #title
    #heading
    #options
    #chapters
