<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><img class="banner-logo" src= "<%= asset_path("algoviz_logo.png") %>"></a>
        <a class="navbar-brand" href="#">Book Config</a>
    </div>
</nav>
