<head>
<title>HTML Table Cellpadding</title>
</head>
<body>
<table border="1" cellpadding="5" cellspacing="5">

<tr>
<th>hint_used</th>
<th>count_attempts</th>
<th>earned_proficiency</th>
<th>current_score</th>
<th>highest_score</th>
<th>total_correct</th>
<th>proficient_date</th>
<th>correct_exercises</th>
<th>first_done</th>
<th>last_done</th>
<th>time_done</th>
</tr>
<tr>
<th>{{hint_used}}</th>
<th>{{count_attempts}}</th>
<th>{{earned_proficiency}}</th>
<th>{{current_score}}</th>
<th>{{highest_score}}</th>
<th>{{total_correct}}</th>
<th>{{proficient_date}}</th>
<th>{{correct_exercises}}</th>
<th>{{first_done}}</th>
<th>{{last_done}}</th>
<th>{{time_done}}</th>
</tr>
</table>
</body>

