%li= link_to 'About', page_path('about')
%li.dropdown
  %a.dropdown-toggle{ href: organizations_path,
    data: { toggle: 'dropdown' }, value: 'Course' }
    Course
  %ul.dropdown-menu
    %li
      .yamm-content
        %ul.list-unstyled
          %li
            %strong Courses
          %li
            %strong= link_to 'Browse all', organizations_path
          - if user_signed_in? && current_user.course_enrollments.any?
            - term = Term.current_term
            - current_user.courses_for_term(term).each do |c|
              %li= link_to c.display_name,
                organization_course_path(c.organization, c, term)