<html lang ="en">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title><%= @ex.name %></title>
  <link href="/OpenDSA/RST/_themes/haiku/static/haiku.css_t" rel="stylesheet" type="text/css"/>
  <link href="/OpenDSA/lib/normalize.css" rel="stylesheet" type="text/css"/>
  <link href="/OpenDSA/JSAV/css/JSAV.css" rel="stylesheet" type="text/css"/>
  <link href="/OpenDSA/lib/odsaMOD-min.css" rel="stylesheet" type="text/css"/>
  <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link href="/OpenDSA/lib/odsaStyle-min.css" rel="stylesheet" type="text/css"/>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": {
        scale: "80"
      }
    });
  </script>
</head>
<body>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/OpenDSA/JSAV/lib/jquery.transit.js" type="text/javascript"></script>
  <script src="/OpenDSA/JSAV/lib/raphael.js" type="text/javascript"></script>
  <script src="/OpenDSA/JSAV/build/JSAV-min.js" type="text/javascript"></script>
  <script src="/OpenDSA/lib/odsaUtils.js" type="text/javascript"></script>
  <script src="/OpenDSA/lib/odsaMOD.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" type="text/javascript"></script>
  <script src="/OpenDSA/lib/dataStructures.js" type="text/javascript"></script>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>