!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'google', content: 'notranslate'}
    %title ReferenceTool
    = csrf_meta_tags
    = stylesheet_link_tag 'lti13', media: 'all'
    = javascript_include_tag 'lti13'
  %body
    .container
      = yield